############################
# Maven
############################

target/

############################
# IntelliJ

.idea/
*.iml

############################
# VS Code

.vscode/

############################
# Logs

*.log

############################
# OS Files

.DS_Store
Thumbs.db

############################
# Environment

.env

############################
# Terraform

.terraform/
*.tfstate
*.tfstate.backup

############################
# Kubernetes

*.kubeconfig

############################
# Docker

docker-data/

############################
# Java

*.class

############################
# Build

out/
build/

############################
# Node

node_modules/
